---
layout: archive
title: Events
permalink: /events/
author_profile: true
---

<link rel="stylesheet" href="/assets/css/global.css">

<style>
  .event-date {
    margin: 0px 1em 0px 0px !important;
    font-size: 0.9rem !important;
    float: right !important;
    font-weight: 400 !important;
  }

  .event-div-title {
    width: 100%;
    margin-bottom: 0.5em;
  }

  .event-imp {
    margin-top: 1.5em !important;
    margin-bottom: 1.2em !important;
  }

  .event-header {
    margin: 0px 0px 0.4em 0px;
  }

  .event-no-margin {
    margin: 0 !important;
  }
</style>

<h2 class="event-imp">Conferences and workshops</h2>

<div class="card-list">
  {% assign events = site.data.events | sort: "date" | reverse %}
  {% for e in events %}
  <div class="card-item">
    <div class="event-div-title">
      <div class="card-main" style="display: inline-block;">
        <h3 class="event-header">{{ e.title }}</h3>
      </div>
      <p class="event-date">{{ e.date }}</p>
    </div>
    <div class="card-field">{{ e.description }}
      <a href="{{ e.url }}">{{ e.url-text }}</a>.
    </div>
  </div>
  {% endfor %}
</div>



<h2 class="event-imp">Seminars</h2>

{% assign seminars = site.data.seminars | sort: "date" | reverse %}
{% for s in seminars %}

  <div>
    <h3 class="event-header">{{ s.title }}</h3>
    <p class="event-no-margin">Speaker: {{ s.speaker }}</p>
    <p class="event-no-margin">Date: {{ s.date }}</p>
    {% if s.slides %}
      <p class="event-no-margin">Material: <a href="{{ s.slides }}">slides</a> </p>
    {% endif %}
    {% if s.notes %}
      <p class="event-no-margin">Material: <a href="{{ s.notes }}">notes</a> </p>
    {% endif %}
    <hr />
  </div>

{% endfor %}
