---
layout: archive
title: "People"
permalink: /people/
author_profile: true
---

{% include base_path %}
<link rel="stylesheet" href="/assets/css/global.css">

<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(min(95%, 300px), 1fr)); gap: 1em;">
  {% for person in site.people %}
    <div class="card-item" style="cursor: pointer;" onclick="location.href='{{ base_path }}{{ person.url }}';">
      <div style="display: flex;">
          <img src="{{person.picture}}" style="height: 100px; border-radius: 100%; margin-right: 2rem; border: 1px solid lightgray; padding: 0.25em;">
          <div style="display: flex; flex-direction: column; justify-content: center;">
              <h2 style="margin: 0;"> {{ person.name }} </h2>
              <h2 style="margin-top: 0;"> {{ person.surname }} </h2>
              <h5 style="margin-top: 0;"> {{person.position}} </h5>
          </div>
      </div>
  </div>
  {% endfor %}
</div>
