---
layout: archive
title: Visitors
permalink: /visitors/
author_profile: true
---

<link rel="stylesheet" href="/_pages/global.css">

<div class="card-list">
  {% assign visitors = site.data.visitors | sort: "start" | reverse %}

  {% for v in visitors %}
  <div class="card-item">
    <div class="card-main">{{ v.name }} {{ v.surname }}</div>

    <div class="card-field">
      <strong>Affiliation:</strong> {{ v.affiliation }}
    </div>

    <div class="card-field">
      <strong>Position:</strong> {{ v.position }}
    </div>

    <div class="card-field">
      <strong>Period:</strong>
      {% if v.end %}
      {{ v.start | date: "%d/%m/%Y" }} – {{ v.end | date: "%d/%m/%Y" }}
      {% else %}
      {{ v.start | date: "%d/%m/%Y" }}
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>