{% include base_path %}
{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div style="margin-bottom: 1rem;">
  <div class="card-item card-item-clickable"  onclick="location.href='{{ base_path }}{{ post.url }}';">
    <div class="card-main">
      <p style="margin: 0;">{{ title }}</p>
    </div>

    <h3 style="margin-top: 0; font-weight: 400">{{ post.authors | markdownify | remove: '<p>' | remove: '</p>' }}</h3>
    <h4 style="margin-top: 0;"><i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </h4>
    
    {% if post.preliminary %}
      <h6 style="margin-top: 1.25rem; font-weight: 400">{{ post.preliminary | markdownify | remove: '<p>' | remove: '</p>' }}</h6>
    {% endif %}

    <div class="card-footer">
      <p style="margin: 0;"><a href=" {{ post.paperurl }} "> {{post.paperurl}} </a></p>
    </div>

  </div>
</div>
